.uploader-container {
  width: 75vw;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

mat-card-title {
  margin-bottom: 1em;
}

mat-card-content {
  margin-bottom: 0;
}

mat-card-actions {
  display: flex;
  align-items: center;
  flex-direction: column;
}
